<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.ui.javaEditorTextHovers">
      <hover
            activate="true"
            class="ch.unibe.scg.methodnullabilityplugin.hovers.MethodNullabilityJavadocHover"
            id="ch.unibe.scg.methodnullabilityplugin.hover">
      </hover>
   </extension>
</plugin>
