<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.ui.javaEditorTextHovers">
      <hover
            activate="true"
            class="ch.unibe.scg.methodnullabilityplugin.hovers.MethodNullabilityJavadocHover"
            id="ch.unibe.scg.methodnullabilityplugin.hover">
      </hover>
   </extension>
   <extension
         id="ch.unibe.scg.methodnullabilityplugin.marker"
         name="Method-Nullability-Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="ch.unibe.scg.methodnullabilityplugin.Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="ch.unibe.scg.methodnullabilityplugin.Console"
            label="nullability console">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="ch.unibe.scg.methodnullabilityplugin.MethodNullabilityServiceFactory">
         <service
               serviceClass="ch.unibe.scg.methodnullabilityplugin.database.MethodNullabilityAccessor"></service>
      </serviceFactory>
   </extension>
   <extension
         point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="ch.unibe.scg.methodnullabilityplugin.compilation.CompilationParticipant"
            id="ch.unibe.scg.methodnullabilityplugin.compilationParticipant">
      </compilationParticipant>
   </extension>
</plugin>
